.login{
    display: flex;
    padding: 50px 0px;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.login > div > img{
    max-height: 300px;
}

.login > form{
    
    padding:10px 50px;
}
.input-container{
    width: 100%;
    padding:0.5px;
}
.input-container > input{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border:1px solid #dcdcdc;
    
}
.button-container > button{
    padding:5px 20px;
    background-color: #09e5ab;
    border:2px solid #09e5ab;
    color:#fff;
    width: 100%;

}



@media(max-width:880px){
    .login{
        flex-direction: column;
        padding: 0px 40px;
    }
    .login > div > img{
        max-height: 350px;
    }
    .login > form{
        width: 100%;
        padding:100px 0px;
        margin: 0 100px;
    }

}
@media(max-width:435px){
    .login > div > img{
        max-height: 200px;
    }
}
